.contendor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}